<?php
Yii::setAlias('pahanini/refiner', '/home/pahanini/Projects/yii2-refiner');

return [
	'components' => [
		'db' => [
			'class' => 'yii\db\Connection',
			'dsn' => 'pgsql:host=localhost;dbname=yii2-refiner-testapp',
			'username' => 'postgres',
			'password' => 'postgres',
			'charset' => 'utf8',
		],

		'cache' => [
			'class' => 'yii\caching\MemCache',
		]
	],
];
